*{
    box-sizing: border-box;
}

@font-face {
        font-family: "My Font";

        src: url(" ../fonts/digital.ttf") format("truetype");
    }

.wrapper {
    inline-size: 560px;
    margin: 0 auto;
}

.wrapper, 
.wrapper > *{
    border: 2px solid black;
}

.wrapper .display{
    height: 100px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    text-align: center;

    
}

.display {

    font-family: "My Font";

    font-size: 3rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.wrapper .buttons > * {
    border: 2px solid black;
    flex: 0 0 25%;
    aspect-ratio: 1;
    font-weight: 900;
    font-size: 2rem;
}

.buttons .button {
    display: flex;
    justify-content: center;
    align-items: center;
}